# =============================================================================
# imagep.ijm - Configuration File
# =============================================================================
# Lines starting with # are comments.
# Remove # to activate a setting.
# Boolean values: true or false
# =============================================================================

# --- Mandala ---
#s04=false          
#sRP=1              
#s08=false          
#s16=false          
#s32=false          
#s64=false          
#s128=false         
#sSep1=false        

# --- Drawing & Features ---
sDR=false          
sDN=A              
sMa=false          
sST=false          
sIGP=false         
sIGPsq=false       
sSep2=false        

# --- Input ---
#sDi=false          

# --- Output ---
#sSS=false          
#sSD=false          
#gDestinationDir=c:\Temp.Images
#sSep3=false        

# --- Options ---
#sCS=false          
#sRO=false          
#sDB1=false         
#sSM=false          
#sSR=false          
#sRM=Bilinear       
#sRR=false          
#sLP=false          
#sSep4=false                
